[*.{cs,xaml}]
end_of_line = crlf
indent_size = 4
indent_style = space

[*.ps1]
end_of_line = crlf
indent_size = 4
indent_style = space

[*.wxs]
end_of_line = crlf
indent_size = 2
indent_style = space
