# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly specify line endings for as many files as possible.
# People who (for example) rsync between Windows and Linux need this.

# File types which we know are binary
*.ico binary

# Prefer LF for most file types

# Prefer LF for these files

# Use CRLF for Windows-specific file types
*.StoreAssociation.xml eol=crlf
*.appxmanifest text eol=crlf
*.config text eol=crlf
*.cs text eol=crlf
*.csproj text eol=crlf
*.ps1 text eol=crlf
*.resx text eol=crlf
*.settings text eol=crlf
*.sln text eol=crlf
*.targets text eol=crlf
*.wapproj text eol=crlf
*.wixproj text eol=crlf
*.wxs text eol=crlf
*.xaml text eol=crlf
