<?xml version="1.0" encoding="utf-8"?>
<AppInstaller
    xmlns="http://schemas.microsoft.com/appx/appinstaller/2017/2"
    Uri="https://__HOST__/AluxLabsLink.appinstaller"
    Version="__VERSION__">

  <MainBundle
      Name="ALUXInc.AluxLabsLink"
      Publisher="CN=&quot;ALUX Co.,Ltd&quot;, O=&quot;ALUX Co.,Ltd&quot;, S=Seoul, C=KR"
      Version="__VERSION__"
      Uri="https://__HOST__/__BUNDLE__" />

  <UpdateSettings>
    <OnLaunch HoursBetweenUpdateChecks="0" />
    <AutomaticBackgroundTask />
  </UpdateSettings>

</AppInstaller>
