# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly specify line endings for as many files as possible.
# People who (for example) rsync between Windows and Linux need this.

# File types which we know are binary
*.png binary

# Prefer LF for most file types
*.html text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.svg text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Prefer LF for these files
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.markdownlintrc text eol=lf
LICENSE text eol=lf
TRADEMARK text eol=lf

# Use CRLF for Windows-specific file types
