<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    UpgradeCode="0a6bd3c0-5b66-45e7-ab43-b728cf40644d"
    Name="Scratch Link"
    Language="1033"
    Version="!(bind.FileVersion.ScratchLink.exe)"
    Manufacturer="Scratch Foundation"
    >
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Property Id="CURRENTBUILDNUMBER">
      <RegistrySearch
        Id="SearchBuildNumber" Type="raw"
        Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuildNumber"/>
    </Property>
    <Condition Message="This application requires Windows 10 Creators Update or later.">
      <![CDATA[CURRENTBUILDNUMBER >= 16299]]>
    </Condition>
    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
    </UI>
    <UIRef Id="WixUI_Common" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Scratch Link" />
    <Property Id="WixShellExecTarget" Value="[#ScratchLink.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Scratch Link" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Scratch Link" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Scratch Link">
          <Component Id="ProgramMenuDir" Guid="4D38C3D7-F5B8-495D-BFD6-CDF4A810341B">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue
              Root="HKMU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Application">
        <File Id="ScratchLink.exe" Source="$(var.ScratchLink.TargetPath)" KeyPath="yes">
          <Shortcut
            Id="ScratchLink.shortcut"
            Name="Scratch Link"
            Directory="ProgramMenuDir"
            WorkingDirectory="INSTALLFOLDER"
            Icon="ScratchLink.exe" IconIndex="0"
            Advertise="yes"
          />
        </File>
        <File Source="$(var.ScratchLink.TargetPath).config" />
        <File Source="$(var.ScratchLink.TargetDir)$(var.ScratchLink.TargetName).pdb" />
      </Component>
      <Component>
        <File Source="$(var.ScratchLink.TargetDir)Fleck.dll" />
      </Component>
      <Component>
        <File Source="$(var.ScratchLink.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component>
        <File Source="$(var.ScratchLink.TargetDir)System.Runtime.WindowsRuntime.dll" />
      </Component>
      <ComponentRef Id="ProgramMenuDir"/>
    </ComponentGroup>
    <Icon Id="ScratchLink.exe" SourceFile="$(var.ScratchLink.TargetPath)" />
  </Fragment>
</Wix>
