//
//  Release_MAS.xcconfig
//  Scratch Link Safari Helper
//
//  Created by Christopher Willis-Ford on 8/5/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Release.xcconfig"
#include "Shipping.xcconfig"

CODE_SIGN_IDENTITY = Apple Distribution;
